# Node modules
node_modules/
server/node_modules/
client/node_modules/

# Lock files
package-lock.json
client/package-lock.json
server/package-lock.json

# Build outputs
client/dist/
dist/

# Env files
.env
.env.*

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
